*{
    margin: 0;
    padding: 0;
}

/* h4{
    text-align: center;
    justify-content: center;
    font-size: medium;
    color: white; */
/* } */

body{
    /* background-image: url('bg.jpeg'); 
    background-size: cover; */
    overflow: hidden;
    height: 100%;
    background-color: black;
}

.taskbar{
    background-color: #f3f3f3;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    z-index: 78;
    justify-content: center;
}

.startmenu{
    position: absolute; 
    /* bottom: 50px; */
    bottom: -655px;
    width: 100%;
    text-align: center;
    transition: all 0.2s ease-in; 
}

.startmenu img{
    border-radius: 8px;
}

.right{
    justify-self: flex-end;
    position: absolute;
    right: 0;
    margin: 6px 0;
    height: 50%;
}  
.icons{
    color: white;
}